<h1>Navigation Panel - Angular Router Links</h1>
<nav>
  <a routerLink="/main/" routerLinkActive="active">Main</a>
  <a routerLink="/input/vasyl/23" routerLinkActive="active">Input</a>
  <a routerLink="/data/" routerLinkActive="active">Data</a>
  <a routerLink="/app-template-driven-form/" routerLinkActive="active">Template Driven Form</a>
  <a routerLink="/form/" routerLinkActive="active">Form Example</a>
  <a routerLink="/reactive/" routerLinkActive="active">Reactive Form Example</a>

  
</nav>
<app-main></app-main>
<router-outlet></router-outlet>